<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASN Checker</title>
  </head>
  <body>
    <div>
      <h1>Upload list.txt</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
      {% if download %}
        <h2>Total lines tested: {{ count }}</h2>
        <a href="{{ url_for('download_file') }}">Download save.txt</a>
      {% endif %}
    </div>
  </body>
</html>
